.button {
          
    background-color:gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    border-radius: 12px;
  }

  .button:hover {
          background-color: black;
          color: white;
      }

  .grid {
      margin-top: 25px;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: repeat(5, 100px);
  }

  .output {
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      word-wrap: break-word;
      word-break: break-all;
      border-radius: 12px;
      height: 80px;
      width: 380px;
      color: white;
      font-size: 32px;
  }

  .screen {
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      background-color: lightgray; 
      padding: 20px; 
      border-radius: 15px;
      height: 560px;
      width: 420px;  
  }